<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TIPO_AMBIENTE" value="1"/> <!--1 = PRUEBA, 2 = PRODUCCION-->  
        <add key="usser_bd" value="postgres" />
        <add key="password_bd" value="1997" />
        <add key="host_bd" value="localhost" />
        <add key="nombre_bd" value="sistemajr_db" />
        <add key="puerto_bd" value="5432" />
    
  
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>